<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Blog Gemerator</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col min-h-screen bg-gray-100  font-sans antialised">
    <!-- Navigation -->
    <nav class="bg-gradient-to-r from-slate-900 to-slate-700  p-4 text-white flex justify-between">
        <div>
            <h1 class="text-3xl font-bold">AI Blog Generator</h1>
        </div>
        <div>
            <a href="/logout" class="text-white hover:underline">Logout</a>
        </div>
    </nav> 
    <!-- Main Content -->
    <div class="container mx-auto mt-10 px-4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
        <section>
            <h2 class="text-xl mb-4 font-semibold">All Blog Posts</h2>
            <div class="space-y-4">
                <div class="border border-gray-300 p-4 rounded-lg">
                    <h3 class="text-lg font-semibold">Blog Post Title</h3>
                    <p>This is the contend of the blog post: ipsum </p>
                </div>
                <div class="border border-gray-300 p-4 rounded-lg">
                    <h3 class="text-lg font-semibold">Blog Post Title</h3>
                    <p>This is the contend of the blog post: ipsum </p>
                </div>
            </div>
            
            </div>
        </section>
    </div>
    <br>
    <footer>
        <div class="bg-gradient-to-r from-slate-900 to-slate-700 text-white text-center p-4">
            <p>&copy; 2024 AI Blog Generator <a href=""></a></p>
        </div>
    </footer>
<script>

</script>
</body>
</html>